body{
    overflow-x: hidden;
    background-color: rgb(37, 37, 37);
}
.movie-display{
    height: 70vh;
    width: 100%;
}
.movie-list{
    height: 100%;
}
.inner-container{
    height: 100%;
    overflow-y: auto;
}
.movie-fav-display{
    height: 45%;
    overflow-y: auto;
}
.movie-watched{
    height: 45%;
    overflow-y: auto;
}
.movie-watchList-item{
    height: 400px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}
.movie-watchList-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie-name{
    margin: auto;
}
.movie-name-img{
    height: 150px;
    width: 150px;
}
.movie-name-info{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}
.movie-name,.movie-fav-list,.movie-watched_already{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.6rem;
}

div.movie-container {
    background-color: #333;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
  
div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: rgb(119, 117, 117);
}

div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
}

div.movie-img {
    background-color: rgba(167, 167, 167, 0.336);
}

div.movie-img:hover{
    background-color: rgb(167, 167, 167);
}

div.movie-details-img img{
    padding: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(247, 244, 244); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(177, 175, 175); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #757575; 
}