body{
    overflow-x: hidden;
}
.movie-display{
    height: 70vh;
    width: 100%;
}
.movie-list{
    height: 100%;
    overflow-y: auto;
}
.movie-fav-display{
    height: 45%;
    overflow-y: auto;
}
.movie-watched{
    height: 45%;
    overflow-y: auto;
}
.movie-watchList-item{
    height: 400px;
    width: 100%;
    background-color: #ddd;
}
.movie-watchList-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie-name,.movie-fav-list,.movie-watched_already{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
}

#searchInput{
    padding:5px;
    border-radius: 7px;
    justify-content: center;
}
#select-box{
    margin: 10px;
}
.movie{
    margin:10px
}
#optionText{
    position:absolute;
    z-index: 5;
    right:10px;
    height: 200px;
    overflow-y: auto;
}
  